/* 隐藏自带流量卡片 */
.mt-4.w-full.mx-auto > div {
  display: none;
}
/* 自定义字体, 注意需要在JS 中引入相应字体 */
* {
    font-family: 'MiSans';
}
h1, h2, h3, h4, h5 {
    font-family: 'MiSans', sans-serif;
}

/* 不显示右上角语言切换按钮 */
[id="radix-:r0:"] {
    display: none;
}

/* 不显示右上角主题切换按钮 */
[id="radix-:r2:"] {
    display: none;
}